<div class="main lists-new">
  <div class="container">
    <div class="title">
      <p>リスト作成</p>
    </div>
    <div class="form lists-form">
      <div class="form-body">
        <% if @error_message %>
          <div class="form-error">
            <%= @error_message %>
          </div>
        <% end %>
          
        <%= form_tag("/lists/create") do %>
          <p>リスト名(15字以内)</p>
          <input name="name" value="<%= @name %>">
          <p>コメント(任意)</p>
          <input name="comment" value="<% @comment %>">
          <p>本のタイトル</p>
          <input name="book_name" value="<%= @book_name %>">
          <input type="submit" value="保存">
        <% end %>
      </div>
    </div>
  </div>
</div>